// body
$font: "Roboto";
$body-font: #414141;
$body-bg: #fafafa;
// header
$header-font: #424242;
$header-bg: #f1f1f1;
$header-box-shadow: #424242;
// link, horizontal line, icons
$purple: #a017ca;

* {
  font-family: $font;
  font-size: 62.5%;
  line-height: 1.5;
  border: 0;
  margin: 0;
  padding: 0;
}

html,
body {
  color: $body-font;
  background-color: $body-bg;
}