@import "base.scss";
@import "mediaq.scss";

.container-grid {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr 1fr;
 grid-column-gap: 1em;
 grid-row-gap: 1rem;
 grid-template-areas: 
 "header header"
 "item-a item-b"
 "footer footer";
}

.container-grid-nav {
 grid-area: header;
}

.container-grid-item-a {
 grid-area: item-a;
}

.container-grid-item-b {
 grid-area: item-b;
}

.container-grid-footer {
 grid-area: footer;
}