@import "base.scss";
@import "mediaq.scss";

.container-grid {
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr;
 grid-column-gap: 5em;
 grid-row-gap: 5rem;
 grid-template-areas: 
 "header-grid header-grid header-grid header-grid"
 ". head-text head-text ."
 "pricing pricing pricing ."
 "footer-grid footer-grid footer-grid footer-grid";
}

.container-grid-nav {
 grid-area: header-grid;
}

.container-grid-headline {
 grid-area: head-text;
}

.container-grid-pricing {
 grid-area: pricing;
}

.container-grid-footer {
 grid-area: footer-grid;
}