@import "base.scss";
@import "mediaq.scss";

.container-grid-item-a {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: auto;
    padding: 0 5rem 0 5rem;
    
    
    .article {
        background-color: green;
        border: 1px solid black;
        font-size: 2rem;
        margin: 1rem;
    }
}

.container-grid-item-b {
    background-color: yellow;
}

